* { margin: 0; padding: 0; }
body { font-family: 'Times New Roman', serif; }
li { list-style: none; }
a { text-decoration: none; }
img { border: 0; }

#main_header {
    /* 중앙 정렬*/
    width: 960px; margin: 0 auto;

    /* 절대 좌표 */
    height: 160px;
    position: relative;
}
#main_header > #title {
    position: absolute;
    left: 20px; top: 30px;
}
#main_header > #main_gnb {
    position: absolute;
    right: 0; top: 0;
}
#main_header > #main_lnb {
    position: absolute;
    right: 0; bottom: 10px;
}

#title {
    font-family: 'Henny Penny', cursive; 
}

#main_gnb > ul { overflow: hidden; } 
#main_gnb > ul > li { float: left; } 
#main_gnb > ul > li > a {
    display: block;
    padding: 2px 10px;
    border: 1px solid black;
}
#main_gnb > ul > li > a:hover {
    background: black;
    color: white;
}
#main_gnb > ul > li:first-child > a { border-radius: 10px 0 0 10px; }
#main_gnb > ul > li:last-child > a  { border-radius: 0 10px 10px 0; }

#main_lnb > ul { overflow: hidden; }
#main_lnb > ul > li { float: left; }
#main_lnb > ul > li > a {
    display: block;
    padding: 10px 20px;
    border: 1px solid black;
}
#main_lnb > ul > li > a:hover {
    background: black;
    color: white;
}
#main_lnb > ul > li:first-child > a { border-radius: 10px 0 0 10px; }
#main_lnb > ul > li:last-child > a  { border-radius: 0 10px 10px 0; }

#content {
    /* 중앙 정렬 */
    width: 960px; margin: 0 auto;

    /* 수평 레이아웃 구성 */
    overflow: hidden;
}
#content > #main_section {
    width: 750px;
    float: left;
}
#content > #main_aside {
    width: 200px;
    float: right;
}

#main_section > article.main_article {
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid black;
}